@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
    src: url('AkzidenzGroteskPro-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
    src: url('AkzidenzGroteskPro-BoldCnIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Ext';
    src: url('AkzidenzGroteskPro-MedExtIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Cnd';
    src: url('AkzidenzGroteskPro-LightCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Cnd';
    src: url('AkzidenzGroteskPro-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Ext';
    src: url('AkzidenzGroteskPro-LigExtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Ext';
    src: url('AkzidenzGroteskPro-Ext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Ext';
    src: url('AkzidenzGroteskPro-ExtItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Ext';
    src: url('AkzidenzGroteskPro-LightEx.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Ext';
    src: url('AkzidenzGroteskPro-MdEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med';
    src: url('AkzidenzGroteskPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Ext';
    src: url('AkzidenzGroteskPro-BoldEx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Cnd';
    src: url('AkzidenzGroteskPro-MdCnIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Cnd';
    src: url('AkzidenzGroteskPro-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Ext';
    src: url('AkzidenzGroteskPro-BoldExIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-XBdIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Super';
    src: url('AkzidenzGroteskPro-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
    src: url('AkzidenzGroteskPro-XBdCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Super';
    src: url('AkzidenzGroteskPro-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('AkzidenzGroteskPro-XBd.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
    src: url('AkzidenzGroteskPro-XBdCnIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

